<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-3 align-self-center">
            <form [formGroup]="form">
                <div class="mb-3">
                    <label for="username" class="form-label">Login</label>
                    <input formControlName="username" type="username" class="form-control" id="username" aria-describedby="usernameHelp">
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" formControlName="senha" class="form-control" id="senha">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="loginPersist">
                    <label class="form-check-label" for="loginPersist">Permanecer logado</label>
                </div>
                <div class="mb-3 form-check">
                    <button type="button" class="link" (click)="signup()">Não tem conta? Cadastre-se!</button>
                </div>
                <button class="btn btn-primary" (click)="login()">Entrar</button>
            </form>
        </div>
    </div>
</div>