<div class="container-fluid pt-3 pl-3">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-2">
          <span class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#menu" aria-expanded="false" aria-controls="menu">
            X
          </span>
          <div class="collapse collapse-horizontal max-w text-nowrap" id="menu">
            <ul *ngIf="logado" class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboard/home">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Listar dispositivos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard/cadastrar">Cadastrar dispositivo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="logout()">Sair</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-10">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>